<div class="create-test">
    <h1> CREATE TEST </h1>
    <form class="bg-container">
        <p class="sub-heading color-white"> NEW TEST </p>
        <div class="input-group">
            <label for="testName" class="is-label-hidden">Test Name</label>
            <input type="text" class="text-input" name="testName" id="testName" placeholder="Test Name">
        </div>
        <div class="input-group mobile-short-name">
            <label for="shortNameMobile" class="is-label-hidden">Short Name</label>
            <input type="text" class="text-input" name="shortName" id="shortNameMobile" placeholder="Short Name (Use in spaces limited places)">
        </div>
        <div class="input-group desktop-short-name">
            <label for="shortNameDesktop" class="is-label-hidden">Short Name</label>
            <input type="text" class="text-input" name="shortName" id="shortNameDesktop" placeholder="Short Name">
            <span class="color-grey font-small">(Use in spaces limted places)</span>
        </div>
        <div class="input-group desktop-description">
            <label for="description" class="is-label-hidden">Description</label>
            <input type="text" class="text-input" name="description" id="description" placeholder="Description">
        </div>
        <div class="dropdown-primary">
            <button class="dropdown-button">Career Stage
                <img src="../../src/assests/images/dropdown-arrow.png" alt="dropdown" />
            </button>
            <ul class="dropdown-content">
                <li>
                    <a href="#">HTML</a>
                </li>
                <li>
                    <a href="#">JAVA</a>
                </li>
                <li>
                    <a href="#">CSS</a>
                </li>
            </ul>
        </div>
        <input type="submit" value="Save Detail" class="button button-primary" />
    </form>
</div>