<div class="result-wrapper">
    <div class="test-type-option">
        <ul class="test-type-list">
            <li class="test-selection test-selection-html float-left">
                <a href="#" class="test-type test-active">HTML</a>
            </li>
            <li class="test-selection test-selection-css float-left">
                <a href="#" class="test-type">CSS</a>
            </li>
            <li class="test-selection-js float-left">
                <a href="#" class="test-type">JAVASCRIPT</a>
            </li>
        </ul>
    </div>
    <div class="timing-details color-white">
        <span class="wrapper-text"> Remaining Time
            <span class="timer-value">30</span>sec</span>
        <img src="../../src/assests/images/timer.png" alt="icon-timer" class="timer-icon">
    </div>
    <div class="question-no">
        <p class="ques-heading">
            Question No. 3 of 25
        </p>
        <p class="ques-text color-white">
            What is the full form of HTML?
        </p>
        <div class="question-option color-white">
            <div class="input-group input-group-radiobtn">
                <input type="radio" class="ques-option" id="option1" name="option1" unchecked>
                <label for="option1" class="radio-label">
                    <span class="option">HTML</span>
                </label>
            </div>
            <div class="input-group input-group-radiobtn">
                <input type="radio" class="ques-option" id="option2" name="option2" unchecked>
                <label for="option2" class="radio-label">
                    <span class="option">Hyper Text Meta Language</span>
                </label>
            </div>
            <div class="input-group input-group-radiobtn">
                <input type="radio" class="ques-option" id="option3" name="option3" unchecked>
                <label for="option3" class="radio-label">
                    <span class="option">Hyper Text Markup Language</span>
                </label>
            </div>
            <div class="input-group input-group-radiobtn">
                <input type="radio" class="ques-option" id="option4" name="option4" unchecked>
                <label for="option4" class="radio-label">
                    <span class="option">HTML</span>
                </label>
            </div>
            <button class="button next-button button-primary">
                <img src="../../src/assests/images/next-button.png" alt="button-icon" />
                <span>Next</span>
            </button>
        </div>
    </div>
    <div class="common-wrapper">
        <div class="timing-details-main color-white">
            <span class="wrapper-text"> Remaining Time
                <span class="timer-value-main">30</span>sec</span>
            <img src="../../src/assests/images/timer.png" alt="timer-icon" class="m-timer-icon">
        </div>
        <table class="question-table" cellspacing="0" cellpadding="0">
            <tr>
                <th class="color-white">
                    Question#
                </th>
                <th class="color-white">Attempted</th>
            </tr>
            <tr>

                <td>
                    <span class="question-table-bullet">></span>
                    <span>1 </span>
                </td>
                <td>
                    <div class="input-group ">
                        <input id="custom-check-first" name="custom-check-first" type="checkbox" checked>
                        <label for="custom-check-first" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>2 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-second" name="custom-check-second" type="checkbox" checked>
                        <label for="custom-check-second" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>3</span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-third" name="custom-check-third" type="checkbox" unchecked>
                        <label for="custom-check-third" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>4</span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-fourth" name="custom-check-fourth" type="checkbox" unchecked>
                        <label for="custom-check-fourth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>5 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-fifth" name="custom-check-fifth" type="checkbox" unchecked>
                        <label for="custom-check-fifth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>6 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-sixth" name="custom-check-sixth" type="checkbox" unchecked>
                        <label for="custom-check-sixth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>7 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-seventh" name="custom-check-seventh" type="checkbox" unchecked>
                        <label for="custom-check-seventh" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>8 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-eight" name="custom-check-eight" type="checkbox" unchecked>
                        <label for="custom-check-eight" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>9 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-ninth" name="custom-check-ninth" type="checkbox" unchecked>
                        <label for="custom-check-ninth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="question-table-bullet">></span>
                    <span>10 </span>
                </td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-tenth" name="custom-check-tenth" type="checkbox" unchecked>
                        <label for="custom-check-tenth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>


        </table>

    </div>
    <div class="div-clear-both"></div>
</div>