<div class="m-instruction">
    <div class="t-bg-container m-container t-color-white">
        <h1 class="m-heading">INSTRUCTIONS</h1>
        <div class="m-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi est, tempus at lacus non, interdum ullamcorper
                nulla. Suspendisse eu placerat tortor. Pellentesque eu enim eu magna euismod blandit.</p>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </p>
        </div>
        <ul class="m-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ul>
        <button class="m-button m-button-primary m-begin-button">BEGIN TEST</button>
    </div>
</div>