<div class="instruction-wrapper">
    <div class="bg-container instruction-container color-white">
        <h1 class="instruction-header">INSTRUCTIONS</h1>
        <div class="instruction-content color-white">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi est, tempus at lacus non, interdum ullamcorper
                nulla. Suspendisse eu placerat tortor. Pellente-sque eu enim eu magna euismod blandit.</p>
            <p class="instruction-content-padding">
                <span class="instruction-content-bold">Lorem ipsum dolor sit amet, consec-tetur adipiscing elit.</span>
            </p>
        </div>
        <ul class="instruction-list">
            <li>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit</li>
        </ul>
        <div>
            <button class="button button-primary begin-button">BEGIN TEST</button>
        </div>
    </div>

</div>