<div class="candidate-wrapper">
    <h1 class="candidate-wrapper">CANDIDATE LISTING</h1>
    <div class="bg-container candidate-mobile-view">
        <p class="candidate-header color-white">LIST</p>
        <div class="m-candidate">
            <div class="candidate-row float-left">
                <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                <ul class="candidate-details-top float-left">
                    <li class="color-white">Mendy Dahlman</li>
                    <li class="color-grey">232211</li>
                    <li class="color-grey">mdhalman@sapient.com</li>
                </ul>
                <img src="../../src/assests/images/content-transparent.png" class="drop-button float-right" alt="drop-button">
                <div class="candidate-details-bottom float-left width-max">
                    <ul class="float-left">
                        <li class="color-white candidate-content-padding">2/9/14</li>
                        <li class="color-white candidate-content-padding">JAVA</li>
                    </ul>
                    <a class="button assign-link button-secondary" href="#">Assign</a>
                    <input type="button" name="send" class="button button-secondary" disabled value="Send">
                </div>
            </div>
            <div class="candidate-row float-left">
                <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                <ul class="candidate-details-top float-left">
                    <li class="color-white">Mendy Dahlman</li>
                    <li class="color-grey">232211</li>
                    <li class="color-grey">mdhalman@sapient.com</li>
                </ul>
                <img src="../../src/assests/images/content.png" class="drop-button float-right" alt="drop-button">
                <div class="candidate-details-bottom float-left width-max"></div>
            </div>
            <div class="candidate-row float-left">
                <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                <ul class="candidate-details-top float-left">
                    <li class="color-white">Mendy Dahlman</li>
                    <li class="color-grey">232211</li>
                    <li class="color-grey">mdhalman@sapient.com</li>
                </ul>
                <img src="../../src/assests/images/content.png" class="drop-button float-right" alt="drop-button">
                <div class="candidate-details-bottom float-left width-max"></div>
            </div>
            <div class="candidate-row float-left">
                <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                <ul class="candidate-details-top float-left">
                    <li class="color-white">Mendy Dahlman</li>
                    <li class="color-grey">232211</li>
                    <li class="color-grey">mdhalman@sapient.com</li>
                </ul>
                <img src="../../src/assests/images/content.png" class="drop-button float-right" alt="drop-button">
                <div class="pagination modify-pagination width-max">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="candidate-desktop-container candidate-desktop-view width-max">
        <table class="candidate-table">
            <thead class="candidate-table-head color-grey">
                <tr>
                    <td>NAME</td>
                    <td>TEST</td>
                    <td>DATE</td>
                    <td>INTERVIEWER</td>
                    <td>REMINDER EMAIL</td>
                </tr>
            </thead>
            <tbody>
                <tr class="candidate-row">
                    <td class="col-candidate-details">
                        <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                        <div class="candidate-details-top float-left">
                            <p class="color-white">Mendy Dahlman</p>
                            <p class="color-grey">232211</p>
                            <p class="color-grey">mdhalman@sapient.com</p>
                        </div>
                    </td>
                    <td>
                        <p class="color-white">JAVA</p>
                    </td>
                    <td>
                        <p class="color-white">2/9/14</p>
                    </td>
                    <td>
                        <a class="button assign-link button-secondary" href="#">Assign</a>
                    </td>
                    <td>
                        <input type="button" name="send" class="button button-secondary" disabled value="Send">
                    </td>
                </tr>
                <tr class="candidate-row">
                    <td class="col-candidate-details">
                        <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                        <div class="candidate-details-top float-left">
                            <p class="color-white">Mendy Dahlman</p>
                            <p class="color-grey">232211</p>
                            <p class="color-grey">mdhalman@sapient.com</p>
                        </div>
                    </td>
                    <td>
                        <p class="color-white">JAVA</p>
                    </td>
                    <td>
                        <p class="color-white">2/9/14</p>
                    </td>
                    <td>
                        <input type="button" name="assign" class="button button-secondary" disabled value="Assigned">
                    </td>
                    <td>
                        <a class="button send-link button-secondary" href="#">Send</a>
                    </td>
                </tr>
                <tr class="candidate-row">
                    <td class="col-candidate-details">
                        <img src="../../src/assests/images/profile-pic.jpg" class="profile-pic float-left" alt="profile-pic">
                        <div class="candidate-details-top float-left">
                            <p class="color-white">Mendy Dahlman</p>
                            <p class="color-grey">232211</p>
                            <p class="color-grey">mdhalman@sapient.com</p>
                        </div>
                    </td>
                    <td>
                        <p class="color-white">JAVA</p>
                    </td>
                    <td>
                        <p class="color-white">2/9/14</p>
                    </td>
                    <td>
                        <input type="button" name="assign" class="button button-secondary" disabled value="Assigned">
                    </td>
                    <td>
                        <a class="button send-link button-secondary" href="#">Send</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>