.candidate-wrapper p{
    margin: 0;
}
.candidate-wrapper .candidate-header {
    background-color: #262626;
    padding: 0.6rem 1.2rem;
    margin: 0;
}
.candidate-wrapper .candidate-content-padding {
    padding: 0.3125rem;
}
.candidate-wrapper .assign-link {
    padding: 0.3125rem 0.9375rem;
}
.candidate-wrapper .button-secondary{
    padding-top: 0.375rem;
    width: 34%;
    margin: 1rem 0 2rem 0.625rem; 
    padding-bottom: 0.5rem;
}
.candidate-wrapper .profile-pic {
    height:3.4375rem;
    width:3.4375rem;
}
.candidate-wrapper .modify-pagination{
    text-align: center;
    padding: 2rem 0;
}
.candidate-wrapper .candidate-row {
    padding: 2rem 0 0 0.8rem;
    width: 94%;
}
.candidate-wrapper .candidate-row .drop-button {
    height: 1.5625rem;
    width: 1.5625rem;
}
.candidate-wrapper .candidate-details-top {
    margin-left: 0.625rem;
}
.candidate-wrapper .candidate-details-bottom {
    border-bottom: 1px solid #e6e6e6;
    border-width: thin;
    margin-top: 2rem;
}
.candidate-wrapper .candidate-details-bottom p{
    padding: 0.375rem;
}
.candidate-wrapper .candidate-desktop-view {
    display: none;
}
.candidate-wrapper .candidate-mobile-view {
    display: block;
}
@media only screen and (min-width: 640px) {
    .candidate-wrapper .candidate-desktop-container {
        overflow: auto;
   }
    .candidate-wrapper .candidate-table {
        border-collapse: collapse;
        background: #202020;
        min-width: 60.9375rem;
   }
   .candidate-wrapper .send-link {
        padding: 0.5rem 2.185rem;
   }
    .candidate-wrapper .candidate-row {
        box-shadow: 0 24px 3px -26px #e6e6e6;
   }
    .candidate-wrapper .candidate-table-head {
        background-color: #262626;
   }
    .candidate-wrapper .candidate-table-head td {
        padding: 1rem 4rem 1rem 2rem;
   }
    .candidate-wrapper .candidate-mobile-view {
        display: none;
   }
    .candidate-wrapper .candidate-desktop-view {
        display: block;
   }
    .candidate-wrapper .button-secondary{
        width: 75%;
        margin: 2rem 0 2rem 0.625rem;
   }
    .candidate-wrapper .candidate-row td {
        padding: 2rem 3rem 2rem 2rem;
   }
    .candidate-wrapper .profile-pic {
        height:3.4375rem;
        width:3.4375rem;
   }
    .candidate-wrapper .candidate-wrapper {
        padding-bottom: 5%;
   }
    .candidate-wrapper .col-candidate-details {
        min-width: 15.5rem;
   }
}
