<div class="login-details">
    <form>
        <h1 class="page-heading">LOGIN</h1>
        <img class="profile-pic" src="../../src/assests/images/profile-pic.jpg" alt="profile-pic">
        <label class="is-label-hidden" for="fullName">fullName</label>
        <input class="login-text-field" type="text" name="fullName" id="fullName" placeholder="User Name">
        <label class="is-label-hidden" for="password">password</label>
        <input class="login-password-field" type="password" name="password" id="password" placeholder="Password">
        <a href="../../src/views/interviewerDashboard.html" class="button button-primary login-button">LOGIN</a>
        <input class="login-checkbox" type="checkbox" id="rememberMe">
        <label class="styling-label" for="rememberMe ">Remember Me</label>
        <a class="l-float-right lost-password-link" href="#">Lost your password?</a>
    </form>
</div>
</section>