<html>

<head>
    <link rel="icon" type="image/png" href="../assests/images/favicon.png">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/global.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../components/header/header.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../components/footer/footer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../components/probeFormImage/probeFormImage.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../components/signupForm/signupForm.css" />
    <script src="../../vendor/w3.js"></script>
</head>

<body>
    <header w3-include-html="../components/header/headerPrimary.html"></header>
    <main class="main-container">
        <div class="flex-align-items">
            <div w3-include-html="../components/probeFormImage/probeFormImage.html"></div>
            <div class="signup-form" w3-include-html="../components/signupForm/signupForm.html"></div>
        </div>
    </main>
    <footer w3-include-html="../components/footer/footer.html"></footer>
    <script>
        includeHTML();
    </script>
</body>

</html>