<div class="assign-interviewer bg-container">
    <p class="pop-up-heading">ASSIGN INTERVIEWER<a href="../../src/views/candidateListing.html"><img class="cross float-right" src="../../src/assests/images/cross-button.png" alt="close"/></a></p>
    <form method="GET" action="#">
        <div class="input-group"><label for="fullName" class="is-label-hidden">Candidate Name</label><input type="text" id="fullName" placeholder="Candidate Name"></div>
        <div class="dropdown-primary">
            <button class="dropdown-button">Interviewer Name <img src="../../src/assests/images/dropdown-arrow.png" alt="down arrow"/></button>
            <ul class="dropdown-content">
                <li><a href="#">Interviewer 1</a></li>
                <li><a href="#">Interviewer 2</a></li>
                <li><a href="#">Interviewer 3</a></li>
            </div>
        <button type="button" class="button button-primary">Assign</button><button type="button" class="button button-primary">Cancel</button>
    </form>
</div>
