<div class="header-wrapper">
        <div class="header-user-container"> 
            <div class="header-logo">
                <img src="../../src/assests/images/sapient-nitro-logo.png" class="header-logo">
                <span>Probe Form</span>
            </div>
            <div class="profile-login-button float-right">
                <div class="dropdown-primary">
                    <button class="dropdown-button">
                        <img src="../../src/assests/images/login-profile-pic.png" class="profile-pic float-right">
                        <span>Stephanie Austria</span>
                    </button>
                    <img src="../../src/assests/images/profile-dropdown-arrow.png" class="dropdown-icon">
                    <div class="dropdown-content header-dropdown">
                        <a href="#">
                            <img src="../../src/assests/images/lock.png">Logout</a>
                    </div>
                </div>
            </div>
            
                <div class="header-button dropdown-primary header-dropdown-hidden">
                    <button class="header-button-image">
                        <img src="../../src/assests/images/header-dropdown.png">
                    </button>
                    <div class="dropdown-content ">
                        <a href="#">DashBoard</a>
                        <a href="#">Create Test</a>
                        <a href="#">Modify Test</a>
                        <a href="#">Show Result</a>
                    </div>
                </div>
            
        </div>
        <div>
            <div class="login-button">
                <div class="dropdown-primary">
                    <button class="dropdown-button">
                        <img src="../../src/assests/images/login-profile-pic.png" class="profile-pic">
                        <span>Stephanie Austria</span>
                    </button>
                    <img src="../../src/assests/images/profile-dropdown-arrow.png" class="dropdown-icon">
                    <div class="dropdown-content header-dropdown">
                        <a href="#">
                            <img src="../../src/assests/images/lock.png">Logout</a>
                    </div>
                </div>
            </div>
        </div>
</div>
