<div class="header-wrapper primary-header">
    <div class="header-logo">
        <img src="../../src/assests/images/sapient-nitro-logo.png" class="header-logo">
        <span>Probe Form</span>
    </div>
    <div class="header-button">
        <a href="../../views/loginForm.html" class="header-button-image float-right">
            Login
        </a>
        <a href="../../views/signupForm.html" class="header-button-image float-right">             
            Register
        </a>
    </div>
</div>
