<div class="show-result-input">
    <div class="career-stage is-inline-block">
        <div class="input-group is-inline-block"><label for="fullName" class="is-label-hidden">Candidate Name</label><input type="text" name="fullName" placeholder=" Candidate Name"></div>
        <div class="dropdown-primary is-inline-block">
            <button class="dropdown-button">Career Stage <img src="../../src/assests/images/dropdown-arrow.png" /></button>
            <ul class="dropdown-content">
                <li><a href="#" >Associate</a></li>
                <li><a href="#" >Sr. Associate</a></li>
                <li><a href="#" >Manager</a></li>
                <li><a href="#" >Project Lead</a></li>
            </ul>
        </div>
    </div>
    <div class="date is-inline-block">
        <p class="color-grey is-inline-block" >Date of Interview: </p>
        <div class="dropdown-primary year-dropdown">
            <button class="dropdown-button">YYYY <img src="../../src/assests/images/dropdown-arrow.png" /></button>
            <ul class="dropdown-content">
                <li><a href="#" >2018</a></li>
                <li><a href="#" >2019</a></li>
                <li><a href="#" >2020</a></li>
                <li><a href="#" >2021</a></li>
            </ul>
        </div>
        <div class="dropdown-primary">
            <button class="dropdown-button">MM<img src="../../src/assests/images/dropdown-arrow.png" /></button>
            <ul class="dropdown-content">
                <li><a href="#" >01</a></li>
                <li><a href="#" >02</a></li>
                <li><a href="#" >03</a></li>
                <li><a href="#" >04</a></li>
                <li><a href="#" >05</a></li>
                <li><a href="#" >06</a></li>
                <li><a href="#" >07</a></li>
            </ul>
        </div>
        
        <div class="dropdown-primary">
            <button class="dropdown-button">DD<img src="../../src/assests/images/dropdown-arrow.png" /></button>
            <ul class="dropdown-content">
                <li><a href="#" >01</a></li>
                <li><a href="#" >02</a></li>
                <li><a href="#" >03</a></li>
                <li><a href="#" >05</a></li>
                <li><a href="#" >06</a></li>
                <li><a href="#" >07</a></li>
            </ul>
        </div>
        <button class="button-primary button is-inline-block">Show Result</button>
    </div>
</div>
