<div class="dashboard-wrapper">
    <h1>DASHBOARD</h1>
    <div class="heading color-white">
        <h2>Services Available</h2>
        <p>Click on the link for quick access to the services</p>
    </div>
    <div class="link-wrapper">

        <div class="link-block color-white">
            <a class="link color-white" href="../../src/views/hrRegisterCandidate.html" aria-label="Register candidate Page">

                <img class="icon" src="../../src/assests/images/can-reg-icon.png">
                <p class="content">
                    <span class="first-block">Register Candidate</span>
                    <img class="seperator" src="../../src/assests/images/link-block-dash.png">
                    <span class="second-block">Lorem impsum dolor</span>
                </p>

            </a>
        </div>

        <div class="link-block color-white">
            <a class="link color-white" href="../../src/views/candidateListing.html" aria-label="Candidate listing Page">

                <img class="icon" src="../../src/assests/images/can-list-icon.png">
                <p class="content">
                    <span class="first-block">Candidate Listing</span>
                    <img class="seperator" src="../../src/assests/images/link-block-dash.png">
                    <span class="second-block">Lorem impsum dolor</span>
                </p>

            </a>
        </div>
    </div>
</div>