<div class="result-wrapper bg-container">
    <p class="wrapper-text color-white">RESULT DETAIL
        <img src="../../src/assests/images/cross-button.png" alt="cross-button" class="cross-button" />
    </p>
    <div class="result-details">
        <p class="color-white">Mendy Dahlman</p>
        <ul class="color-white bg-container result-information">
            <li class="result-information-header">
                <span class="result-information-heading ">RESULT</span>
                <span class="result-total-score">8</span>
            </li>
            <li class="result-information-row">
                <span>Total Questions:</span>
                <span class="result-score">10</span>
            </li>
            <li class="result-information-row">
                <span>Attempted Questions:</span>
                <span class="result-score">9</span>
            </li>
            <li class="result-information-row">
                <div>
                    <img src="../../src/assests/images/green-check.png" alt="icon1" />
                    <span class="m-button-icon">8</span>

                    <img src="../../src/assests/images/red-cross.png " alt="icon2" />
                    <span>1</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="question-table">
        <p class="question-table-heading color-white">Questions</p>
        <table class="question-list" cellspacing="0" cellpadding="0">
            <tr class="question-list-tr">
                <td>1</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-first" name="custom-check-first" type="checkbox" checked>
                        <label for="custom-check-first" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-second" name="custom-check-second" type="checkbox" checked>
                        <label for="custom-check-second" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-third" name="custom-check-third" type="checkbox" checked>
                        <label for="custom-check-third" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-fourth" name="custom-check-fourth" type="checkbox" unchecked>
                        <label for="custom-check-fourth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-fifth" name="custom-check-fifth" type="checkbox" checked>
                        <label for="custom-check-fifth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-sixth" name="custom-check-sixth" type="checkbox" checked>
                        <label for="custom-check-sixth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-seventh" name="custom-check-seventh" type="checkbox" checked>
                        <label for="custom-check-seventh" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-eigth" name="custom-check-eigth" type="checkbox" checked>
                        <label for="custom-check-eigth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-ninth" name="custom-check-ninth" type="checkbox" checked>
                        <label for="custom-check-ninth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>What is the full form of HTML?</td>
                <td>
                    <div class="input-group">
                        <input id="custom-check-tenth" name="custom-check-tenth" type="checkbox" checked>
                        <label for="custom-check-tenth" class="checkbox-label">
                            <span class="is-label-hidden">checkbox</span>
                        </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>