.footer-container{
    font-size: 0.5rem;
    color: #e6e6e6;
    width: 100%;
    text-align: center;
    border-bottom: 4px solid red;
}
@media screen and (min-width : 640px){
    .footer-container{
        text-align: left;
    }
}
