<section class="signup-details-wrapper">
    <div class="signup-details">
        <form>
            <h1 class="page-heading">REGISTER</h1>
            <label class="is-label-hidden" for="fullName">full-name</label>
            <input class="custom-text" type="text" id="fullName" name="fullName" placeholder="Full Name">
            <label class="is-label-hidden" for="oracleId">oracleId</label>
            <input class="custom-text" type="text" id="oracleId" name="oracleId" placeholder="Oracle ID">
            <label class="is-label-hidden" for="email">email</label>
            <input class="custom-text" type="text" id="email" name="email" placeholder="Email">
            <label class="is-label-hidden" for="phone">phone</label>
            <input class="custom-text" type="text" name="phone" id="phone" placeholder="Phone">
            <label class="is-label-hidden" for="role">role</label>
            <input class="custom-text" type="text" id="role" name="role" placeholder="Role">
            <label class="is-label-hidden" for="location">location</label>
            <input class="custom-text" type="text" name="location" id="location" placeholder="Location">
            <label class="is-label-hidden" for="password">password</label>
            <input class="custom-password" type="password" name="password" id="password" placeholder="Password">
            <label class="is-label-hidden" for="confirmPassword">confirm-password</label>
            <input class="custom-password" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <a href="../../src/views/hrDashboard.html" class="button button-primary custom-signup-button">SIGN UP</a>
        </form>
    </div>
</section>