<div class="modify-test-wrapper modify-container">
    <h1>MODIFY TEST</h1>
    <div class="dropdown-primary width-max">
        <button class="dropdown-button">Select Test
            <input type="image" class="float-right dropdown-arrow" src="../../src/assests/images/dropdown-arrow.png" alt="dropdown-arrow"
            />
        </button>
        <ul class="dropdown-content">
            <li>
                <a href="#">HTML</a>
            </li>
            <li>
                <a href="#">JAVA</a>
            </li>
            <li>
                <a href="#">CSS</a>
            </li>
        </ul>
    </div>
    <div class="dropdown-primary width-max">
        <button class="dropdown-button">Career Stage
            <input type="image" class="float-right dropdown-arrow" src="../../src/assests/images/dropdown-arrow.png" alt="dropdown-arrow"
            />
        </button>
        <div class="dropdown-content">
        </div>
    </div>
    <form class="bg-container modify-form">
        <div class="form-header">
            <p class="form-header-content">MODIFY QUESTION</p>
            <div class="pagination pagination-desktop float-right is-visible-desktop">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="question">questions</label>
            <input type="text" class="modify-input" name="question" placeholder="Question" id="question" />
            <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="crtAns">crtAns</label>
            <input type="text" class="modify-input" name="crtAns" placeholder="Correct Answer" id="crtAns" />
            <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="wrgAns">wrgAns</label>
            <input type="text" class="modify-input" name="WrgAns" placeholder="Wrong Answer" id="wrgAns" />
            <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="scndWrgAns">wrgAns1</label>
            <input type="text" class="modify-input" name="secondWrgAns" placeholder="Wrong Answer" id="scndWrgAns" />
            <a href="#">
                <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
            </a>
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="thdWrgAns">wrgAns2</label>
            <input type="text" class="modify-input" name="thirdWrgAns" placeholder="Wrong Answer" id="thdWrgAns" />
            <a href="#">
                <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
            </a>
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="frtWrgAns">wrgAns3</label>
            <input type="text" class="modify-input" name="fourthWrgAns" placeholder="Wrong Answer" id="frtWrgAns" />
            <a href="#">
                <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
            </a>
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="fifWrgAns">wrgAns4</label>
            <input type="text" class="modify-input" name="fifthWrgAns" placeholder="Wrong Answer" id="fifWrgAns" />
            <a href="#">
                <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
            </a>
        </div>
        <div class="modify-input-row">
            <label class="is-label-hidden" for="cmts">cmts</label>
            <input type="text" class="modify-input" name="cmts" placeholder="Comments" id="cmts" />
            <a href="#">
                <img src="../../src/assests/images/edit-question-icon.png" class="edit-icon" alt="editQuestionIcon" />
            </a>
        </div>

        <p class="color-white description-link">Description or link to the source of this question (Public) </p>
        <div class="modify-last-row">
            <button class="button button-primary save-detail width-max">Save Detail</button>
            <button class="button button-primary left-add">Add New</button>
            <button class="button button-primary right-del float-right">Delete</button>
        </div>
        <ul class="pagination pagination-mobile is-hidden-desktop width-max">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </form>
</div>