<div class="register-candidate">
    <h1> REGISTER CANDIDATE </h1>
    <form class="bg-container">
        <p class="sub-heading color-white"> NEW CANDIDATE </p>
        <div class="input-group">
            <label for="fullName" class="is-label-hidden">Full Name</label>
            <input type="text" class="text-input" name="fullName" id="fullName" placeholder="Name">
        </div>
        <div class="input-group">
            <label for="phoneNumber" class="is-label-hidden">Phone Number</label>
            <input type="text" class="text-input" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
        </div>
        <div class="input-group">
            <label for="email" class="is-label-hidden">Email</label>
            <input type="email" class="text-input" name="email" id="email" placeholder="Email">
        </div>
        <div class="dropdown-primary">
            <button class="dropdown-button">Career Stage
                <img src="../../src/assests/images/dropdown-arrow.png" alt="dropdown" />
            </button>
            <ul class="dropdown-content">
                <li>
                    <a href="#">HTML</a>
                </li>
                <li>
                    <a href="#">JAVA</a>
                </li>
                <li>
                    <a href="#">CSS</a>
                </li>
            </ul>
        </div>
        <input type="submit" value="Register" class="button button-primary" />
    </form>
</div>