<div class="nav-wrapper">
    <nav class="nav-primary">
        <div class="main-container nav-container">
        <a class="nav-link color-white" href="../../src/views/interviewerDashboard.html">DASHBOARD</a>
        <a class="nav-link color-white" href="../../src/views/createTest.html">CREATE TEST</a>
        <a class="nav-link color-white" href="../../src/views/modifyTest.html">MODIFY TEST</a>
        <a class="nav-link color-white" href="../../src/views/showResult.html">SHOW RESULT</a>
    </div>
    </nav>
</div>

